networks:
  app:
    driver: bridge

volumes:
  db:
    driver: local
  minio:
    driver: local

services:
  app:
    container_name: api
    build: .
    networks:
      - default
    ports:
      - ':3000'
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/postgres
      - S3_ENDPOINT=http://minio:9000
      - S3_ACCESS_KEY=minio
      - S3_SECRET_KEY=minio123
      - S3_BUCKET=nest
      - S3_REGION=auto

  db:
    container_name: db
    image: postgres
    ports:
      - ':5432'
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    networks:
      - default
    volumes:
      - ./db:/var/lib/postgresql/data

  minio:
    container_name: minio
    image: minio/minio
    ports:
      - ':9000'
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    networks:
      - default
    volumes:
      - minio:/data
    command: ["server", "/data", "--console-address", ":9001"]

